{{- with resources.Get "_templates/main.css" | resources.ExecuteAsTemplate "css/main.css" $ }}
  {{- with . | minify | fingerprint }}
    {{- if site.Params.unsafeInlineCSS }}
<style>{{ .Content | safeCSS }}</style>
    {{- else }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  {{- end }}
{{- end }}

{{- if site.Params.useExternalSyntaxCSS }}
  {{- with resources.Get "css/syntax.css" }}
    {{- with . | minify | fingerprint }}
      {{- if site.Params.unsafeInlineCSS }}
<style>{{ .Content | safeCSS }}</style>
      {{- else }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- with resources.Get "css/extensions.css" }}
  {{- with . | minify | fingerprint }}
    {{- if site.Params.unsafeInlineCSS }}
<style>{{ .Content | safeCSS }}</style>
    {{- else }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  {{- end }}
{{- end }}
