{{-
  $defaultCSSFrameworkLayers := slice
    "tokens"
    "base"
    "typography"
    "layout"
    "components"
    "utilities"
}}
{{- range site.Params.cssFrameworkLayers | default $defaultCSSFrameworkLayers }}
{{
  partial "utilities/useCSS.html"
    (dict "path" (printf "css/framework/%s.css" .))
}}
{{- end }}

{{- $design := site.Params.design }}
{{- if not (reflect.IsMap $design) }}
  {{- $design = dict "name" $design }}
{{- end }}
{{- if $design.cssURL }}
<link rel="stylesheet" href="{{ $design.cssURL }}"
  {{- with $design.cssIntegrity }}
    integrity="{{ . }}"
  {{- end }}
    crossorigin="anonymous"
    >
{{- else }}
{{
  partial "utilities/useCSS.html"
    (dict "path" (printf "css/designs/%s.css" $design.name))
}}
{{- end }}

{{- if site.Params.useExternalSyntaxCSS }}
{{ partial "utilities/useCSS.html" (dict "path" "css/syntax.css") }}
{{- end }}

{{ partial "utilities/useCSS.html" (dict "path" "css/extensions.css") }}
