<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="referrer" content="no-referrer">

{{- if eq .Kind "404" }}
  {{- with site.GetPage "_404.md" }}
<title>{{ printf "%s | %s" .Title site.Title }}</title>
  {{- end }}

{{- else }}
  {{- with .Params.robots }}
<meta name="robots" content="{{ . }}">
  {{- end }}

<meta name="description" content="{{- (or .Description .Summary) | htmlUnescape | plainify | replaceRE "\\s+" " " | replaceRE "^ +| +$" "" | truncate 150 -}}">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<link rel="canonical" href="{{ .Permalink }}">
{{- end }}

{{ partial "head/md.html" . }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{- if templates.Exists "_partials/head/extensions.html" }}
{{ partial "head/extensions.html" . }}
{{- end }}
