:root {
  --background: #e8e6e3;
  --color: #1c1b1a;
  --font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1b1a;
    --color: #e8e6e3;
  }
}

body {
  align-items: center;
  background: var(--background);
  color: var(--color);
  display: flex;
  flex-direction: column;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Noto Serif", "DejaVu Serif";
  font-size: var(--font-size);
  line-height: 1.6;
  margin: 1em;
}

a {
  color: var(--color);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4, h5, h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1em;
}

ul, ol {
  margin: 0 0 1em 1.5em;
  padding: 0;
}
html[dir=rtl] ul, html[dir=rtl] ol {
  margin: 0 1.5em 1em 0;
}

li + li {
  margin-top: 0.25em;
}

blockquote {
  border-left: 4px solid #ccc;
  color: #555;
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 1em;
}

pre {
  margin: 1.5em 0;
}

img {
  display: block;
  height: auto;
  margin: 1.5em auto;
  max-width: 100%;
}

body > * {
  max-width: 32em;
  width: 100%;
}

body > header {
  margin-bottom: 1em;
}

body > footer {
  margin-top: 1em;
}

main > article > header {
  margin: 1em auto 2em;
}

.menu nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu nav ul > li::before {
  content: '/';
}

.menu nav ul > li a {
  text-decoration: none;
}

.copyright {
  font-size: 0.75em;
  text-align: center;
}

.article-title {
  font-size: 4em;
  line-height: 1.125;
  margin: 0.5em auto 0.375em;
}

.highlight pre {
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 1em;
  text-wrap-mode: wrap;
}

.home-kind .menu {
  display: none;
}

.home-kind main section {
  margin-bottom: 1em;
}

.home-kind main section > ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.home-kind main section > ul > li::before {
  content: '→';
  margin-right: 0.5em;
}
.home-kind[dir=rtl] main section > ul > li::before {
  content: '←';
  margin-left: 0.5em;
  margin-right: 0;
}

html:not(.home-kind) .title {
  display: none;
}
