body {
  align-items: center;
  background: #121212;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Noto Serif", "DejaVu Serif";
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1rem;
  min-height: 100vh;
}

body > * {
  max-width: 40rem;
  width: 100%;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #66aaff;
  text-decoration: none;
}
