<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="{{ .Kind }}-kind{{ if .Layout }} {{ .Layout }}-layout{{ end }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
  <header>
{{ partial "header.html" . }}
  </header>
  <main>
{{ block "main" . }}{{ end }}
  </main>
  <footer>
{{ partial "footer.html" . }}
  </footer>
{{- if templates.Exists "_partials/body/extensions.html" }}
{{ partial "body/extensions.html" . }}
{{- end }}
</body>
</html>
