{{- define "main" }}
  {{- with .Content }}
    <section>
      <div class="section-content">

{{ . }}

      </div>
    </section>
  {{- end }}

  {{- range sort (where site.Sections "Section" "in" site.MainSections) "Weight" }}
    <section>
      <h2 class="section-title">{{ .Title }}</h2>
      <ul class="section-list">
    {{- $pages := where .Site.RegularPages "Section" .Section }}
    {{- $sectionSize := or .Site.Params.homeSectionSize 3 }}
    {{- $topPages := first $sectionSize $pages }}
    {{- range $topPages }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{- end }}
      </ul>
    {{- if gt (len $pages) $sectionSize }}
      <p class="more-link"><a href="{{ .RelPermalink }}">{{- i18n "more" -}}</a></p>
    {{- end }}
    </section>
  {{- end }}
{{- end }}
