{{- define "main" }}
    <section>

{{ .Content }}

    </section>

  {{- range sort (where site.Sections "Section" "in" site.MainSections) "Weight" }}
    <section>
      <h2 class="section-title">{{ .Title }}</h2>
      <ul>
    {{- $pages := where .Site.RegularPages "Section" .Section }}
    {{- $sectionSize := or .Site.Params.homeSectionSize 3 }}
    {{- $topPages := first $sectionSize $pages }}
    {{- range $topPages }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{- end }}
      </ul>
    {{- if gt (len $pages) $sectionSize }}
      <div class="more-link"><a href="{{ .RelPermalink }}">&middot; &middot;&middot;</a></div>
    {{- end }}
    </section>
  {{- end }}
{{- end }}
