{{- define "main" }}
  {{- with .Params.subtitle }}
    <h1>{{ . }}</h1>
  {{- end }}

{{ .Content }}

  {{- range sort (where site.Sections "Section" "in" site.MainSections) "Weight" }}
    <h2>{{ .Title }}</h2>
    <ul>
    {{- $pages := where .Site.RegularPages "Section" .Section }}
    {{- $sectionSize := or .Site.Params.homeSectionSize 5 }}
    {{- $topPages := first $sectionSize $pages }}
    {{- range $topPages }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{- end }}
    </ul>
  {{- end }}
{{- end }}
